lib-cov
/**/node_modules/
/**/typings/
/**/bower_components/
/**/.idea/
/**/data/
/**/kbd/
/**/dist/
/**/target/
/**/.seed
/**/.log
/**/.dat
/**/.out
/**/.pid
/**/.gz
/**/.rar
/**/.zip
/**/kbd.html
/**/kbd.*

/**/pids
/**/logs
/**/results

/**/npm-debug.log
/**/.brackets.json

/**/.metadata/
/**/RemoteSystemsTempFiles/
/**/targets/
/**/.recommenders/
/**/bin/
