<h1 class="text-center">Pipe Demo</h1>

<h4>My name is : {{name}}</h4>
<h4>My name is (Uppercase) : {{name | uppercase}}</h4>
<h4>My name is (Lowercase) : {{name | lowercase}}</h4>
<h4>My name is (Capitalize) : {{name | capitalize:8}}</h4>

<h4>Today is : {{today}}</h4>
<h4>Today is : {{today | date}}</h4>
<h4>Today is : {{today | date:'dd-MM-yyyy'}}</h4>
<h4>Today is : {{today | date:'dd/MMMM/yyyy'}}</h4>

<h4>EmpList is : {{empList}}</h4>
<h4>EmpList is : {{empList | json}}</h4>

<!-- <h4>Number : {{num | power:4}}</h4> num * num * num * num -->